$primary-color: #000;
$primary-accent: #6200ff;

$neutral-bg: #fff;
$low-contrast-bg: #f5f5f5;
$medium-contrast-bg: #d1d1d1;
$high-contrast-bg: #111;

$high-contrast-text: #000;
$medium-contrast-text: #4F4F4F;
$low-contrast-text: #949494;