$primary-color: #000;
$primary-accent: #6200ff;

$neutral-bg: #fff;
$low-contrast-bg: #f5f5f5;
$medium-contrast-bg: #e0e0e0;
$high-contrast-bg: #111;
$header-about-bg: linear-gradient(315deg, #d4418e 0%, #0652c5 74%);;

$high-contrast-text: #000;
$medium-contrast-text: #4F4F4F;
$middle-contrast-text: #333;
$low-contrast-text: #949494;

